<div class="footer-info clearfix">
	<div class="info-item">
		<h1 class="info-tt">官方手冊集合</h1>
		<ul class="manual-list clearfix">
			<% for (var i = 0; i < manualData.length; i ++) { 
         var item = manualData[i];
			%>
        <%- include('manualItem.ejs', {
					item
				}) %>
			<% } %>
		</ul>
	</div>
	<div class="info-item">
		<h1 class="info-tt">合作平台鏈接</h1>
		<ul class="link-list clearfix">
			<% for (var i = 0; i < linkData.length; i ++) { 
         var item = linkData[i];
			%>
        <%- include('linkItem.ejs', {
        	item
        }) %>
			<% } %>
		</ul>
	</div>
	<div class="info-item">
		<h1 class="info-tt">課程微信諮詢與問題回答</h1>
	</div>
</div>