<%- include('layout/head.ejs', { PAGE_CONF }) %>
  <div class="container">
    <%- include('templates/common/header/index.ejs', {
      navData
    }) %>

    <%- include('templates/error/index.ejs') %>

  </div>
  
<%- include('layout/foot.ejs', { PAGE_CONF }) %>